Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
BreakConstructorInitializers: AfterColon
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: true
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 50
ColumnLimit: 140
ContinuationIndentWidth: 4
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
RemoveSemicolon: true
BreakBeforeTernaryOperators: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakTemplateDeclarations: Yes
